.nav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
}

.item {
  margin-left: 1.5rem;
}

.item {
  & a {
    display: flex;
    align-items: center;
    color: #9b9b9b;
    font-weight: 600;

    &:hover {
      color: white;

      & i {
        color: white;
      }
    }

    & i {
      margin-right: 0.5rem;
      color: #9b9b9b;
    }
  }

  &.active a {
    color: white;

    & i {
      color: white;
    }
  }
}
