.feature {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.key {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.value {
  flex: 1;
}

input[type='range'].slider {
  width: 100%;
  margin: 0.5rem 0;
}

.inputs {
  align-items: center;
  gap: 1rem;
}
