.container {
  display: grid;
  grid-template-columns: 200px 100px 1fr 200px;
  grid-template-rows: 70px 50px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'top top top top'
    'subheader subheader subheader subheader'
    'left-content content content content';
  height: 100%;
}

.top {
  grid-area: top;
  display: flex;
  align-items: center;
}

.subheader {
  grid-area: subheader;
  display: flex;
  align-items: center;
}

.left-content {
  grid-area: left-content;
}

.content {
  grid-area: content;
}
