.container {
  display: grid;
  grid-template-columns: var(--left-nav-width) 100px 1fr 200px;
  grid-template-rows: var(--header-height) var(--subheader-height) 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-areas:
    'top top top top'
    'subheader subheader subheader subheader'
    'content content content content';
  height: 100%;
}

.top {
  grid-area: top;
  display: flex;
  align-items: center;
  padding: 0 var(--page-horizontal-padding);
}

.subheader {
  grid-area: subheader;
  display: flex;
  align-items: center;
  padding: 0 var(--page-horizontal-padding);
}

.content {
  grid-area: content;
  padding: var(--spacing-2) var(--page-horizontal-padding);
}
