.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-areas:
    '. info .'
    '. content .';
}

.info {
  grid-area: info;
}

.content {
  --content-padding: var(--spacing-4);

  grid-area: content;
  padding: var(--content-padding);
}

.subheader {
  justify-content: center;
}