a.link {
  --text-color: var(--nav-color-dull);
  --icon-color: var(--nav-color-duller);

  color: var(--text-color);
  font-weight: var(--font-weight-quarterbold);

  &:hover,
  &.active {
    --text-color: var(--nav-color-active);
    --icon-color: var(--nav-color-dull);
  }

  .icon {
    font-size: 120%;
    color: var(--icon-color);
  }
}
