.logo {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child {
  margin-right: auto;
  justify-content: flex-start;
}

.box:last-child {
  margin-left: auto;
  justify-content: flex-end;
}