.subtitle {
  --typography-subtitle-font-weight: var(--font-weight-semibold);
  --typography-subtitle-color: var(--color-gray-30);

  font-weight: var(--typography-subtitle-font-weight);
  font-size: 80%;
  color: var(--typography-subtitle-color);
}

.heading {
  color: var(--heading-color);
}

.h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

.h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}

.h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
}

.h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
}

.h5 {
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);
}

.h6 {
  font-size: var(--h6-font-size);
  font-weight: var(--h6-font-weight);
}