.subtitle {
  --typography-subtitle-font-weight: var(--font-weight-semibold);
  --typography-subtitle-color: var(--color-gray-30);

  font-weight: var(--typography-subtitle-font-weight);
  font-size: 80%;
  color: var(--typography-subtitle-color);
}
