.header {
  background-color: var(--header-background);
  color: var(--header-color);
}

.subheader {
  background-color: var(--subheader-background);
  color: var(--subheader-color);
  border-top: 1px solid var(--subheader-border-color);
  border-bottom: 1px solid var(--subheader-border-color);
}

.content {
  background: linear-gradient(
    318deg,
    var(--content-background) 0%,
    var(--content-background-highlight) 100%
  );
  color: var(--content-color);
}
