@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css');
@import url('./style/bulma-slider.min.css');
@import url('./style/bulma-switch.min.css');

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-lighten-40);
}

a:hover {
  color: var(--color-primary);
}

.input,
.select select,
.textarea {
  background-color: var(--input-background-color);
  border-color: transparent;
  border-radius: var(--input-border-radius);
  color: var(--input-color);
  box-shadow: var(--input-box-shadow-inset), var(--input-box-shadow);
}

.input:active,
.input:focus,
.is-active.input,
.is-active.textarea,
.is-focused.input,
.is-focused.textarea,
.select select.is-active,
.select select.is-focused,
.select select:active,
.select select:focus,
.textarea:active,
.textarea:focus {
  border-color: var(--color-success);
  border-radius: var(--input-border-radius);
  color: var(--input-color);
  box-shadow: var(--input-box-shadow-focus);
}

input[disabled] .icon,
.textarea[disabled] .icon,
.select select[disabled] .icon,
fieldset[disabled] .input .icon,
.select fieldset[disabled] select .icon {
  color: var(--input-color-disabled) !important;
}

input[disabled],
.select fieldset[disabled] select,
.select select[disabled],
.textarea[disabled],
fieldset[disabled] .input,
fieldset[disabled] .select select,
fieldset[disabled] .textarea {
  border-color: transparent !important;
  background-color: var(--input-background-color-disabled) !important;
  color: var(--input-color-disabled) !important; 
}

/* stylelint-disable */
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #767676;
  right: 1.125em;
  z-index: 4;
}

.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: #b5b5b5;
}
/* stylelint-enable */

.delete {
  height: 30px;
  max-height: 30px;
  max-width: 30px;
  min-height: 30px;
  min-width: 30px;
  width: 30px;
  background-color: #363636;
}

.delete:hover {
  background-color: #4c4c4c;
}

dialog {
  color: var(--color-content);
}