.header {
  background-color: var(--header-background);
  color: var(--header-color);
}

.subheader {
  background-color: var(--subheader-background);
  color: var(--subheader-color);
}

.content {
  background-color: var(--content-background);
  color: var(--content-color);
}
