.container {
  --cell-padding: var(--spacing-1);
  --header-font-weight: var(--font-weight-quarterbold);
  --header-color: var(--color-body-duller);

  & tr,
  & th,
  & td {
    padding: var(--cell-padding);
  }

  & th {
    font-weight: var(--header-font-weight);
    color: var(--header-color);
  }
}
