.container {
  --cell-padding-vertical: var(--spacing-1);
  --cell-padding-horizontal: var(--spacing-3);
  --header-font-weight: var(--font-weight-quarterbold);
  --header-color: var(--color-body-dull);

  & tr,
  & th,
  & td {
    padding: var(--cell-padding-vertical) var(--cell-padding-horizontal);
    vertical-align: middle;
  }

  & th {
    font-weight: var(--header-font-weight);
    color: var(--header-color);
  }

  & thead th {
    padding: calc(var(--cell-padding-vertical) * 2) var(--cell-padding-horizontal);
    border-bottom: 1px solid var(--color-lighten-05);
  }  

  & tbody tr:first-child td {
    padding-top: calc(var(--cell-padding-vertical) * 2);
  }

  & tbody tr:last-child td {
    padding-bottom: calc(var(--cell-padding-vertical) * 2);
  }

  &.small {
    --cell-padding: var(--spacing-1);
  }

  &.xlarge {
    --cell-padding: var(--spacing-3);
  }

  &.striped {
    & tr:nth-child(even) {
      background-color: var(--color-lighten-05);
    }
  }
}
