.container {
  --cell-padding-vertical: var(--spacing-1);
  --cell-padding-horizontal: var(--spacing-3);
  --header-font-weight: var(--font-weight-quarterbold);
  --header-color: var(--color-body-dull);

  & tr,
  & th,
  & td {
    padding: var(--cell-padding-vertical) var(--cell-padding-horizontal);
    vertical-align: middle;
  }

  & th {
    font-weight: var(--header-font-weight);
    color: var(--header-color);
  }

  &.small {
    --cell-padding: var(--spacing-1);
  }

  &.xlarge {
    --cell-padding: var(--spacing-3);
  }
}
