:root {
  /* Utilities */
  --color-primary: hsl(171deg, 100%, 41%);
  --color-primary-light: hsl(171deg, 100%, 51%);
  --color-primary-dark: hsl(171deg, 100%, 31%);
  --color-primary-contrast: var(--color-white);
  --color-success: hsl(153deg, 53%, 53%);
  --color-success-light: hsl(153deg, 53%, 63%);
  --color-success-dark: hsl(153deg, 53%, 40%);
  --color-success-contrast: var(--color-white);
  --color-warning: hsl(44deg, 100%, 77%);
  --color-warning-light: hsl(44deg, 100%, 87%);
  --color-warning-dark: hsl(44deg, 100%, 57%);
  --color-warning-contrast: var(--color-white);
  --color-danger: hsl(348deg, 86%, 61%);
  --color-danger-light: hsl(348deg, 86%, 71%);
  --color-danger-dark: hsl(348deg, 86%, 51%);
  --color-danger-contrast: var(--color-white);
  --color-info: hsl(207deg, 61%, 53%);
  --color-info-light: hsl(207deg, 61%, 63%);
  --color-info-dark: hsl(207deg, 61%, 43%);
  --color-info-contrast: var(--color-white);
  --color-dark: hsl(0deg, 0%, 20%);
  --color-dark-light: hsl(0deg, 0%, 30%);
  --color-dark-dark: hsl(0deg, 0%, 10%);
  --color-dark-contrast: var(--color-white);
  --color-white: hsl(0deg, 0%, 100%);
  --color-darken-50: rgba(0, 0, 0, 50%);
  --color-lighten-03: rgba(255, 255, 255, 3%);
  --color-lighten-15: rgba(255, 255, 255, 15%);
  --color-gray-05: hsl(0deg, 0%, 95%);
  --color-gray-10: hsl(0deg, 0%, 90%);
  --color-gray-20: hsl(0deg, 0%, 80%);
  --color-gray-30: hsl(0deg, 0%, 70%);
  --color-gray-40: hsl(0deg, 0%, 60%);
  --color-gray-50: hsl(0deg, 0%, 50%);
  --color-gray-60: hsl(0deg, 0%, 40%);
  --color-gray-70: hsl(0deg, 0%, 30%);
  --color-gray-80: hsl(0deg, 0%, 20%);
  --color-gray-85: hsl(0deg, 0%, 15%);
  --color-gray-90: hsl(0deg, 0%, 10%);
  --color-gray-95: hsl(0deg, 0%, 5%);
  --color-gray-100: hsl(0deg, 0%, 0%);
  --color-gray-blue-80: hsl(200deg, 14%, 21%);
  --border-width: 1px;
  --border-radius-1: 0.25rem;
  --border-radius-2: 0.5rem;
  --border-radius-3: 0.75rem;
  --border-radius-4: 1rem;
  --spacing-0: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 4rem;
  --font-size-0: 0.625rem;
  --font-size-1: 0.75rem;
  --font-size-2: 0.875rem;
  --font-size-3: 1rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1.5rem;
  --font-size-7: 2rem;
  --font-color: var(--color-gray-80);
  --font-weight-normal: 400;
  --font-weight-quarterbold: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --animation-duration-0: 0.0875s;
  --animation-duration-1: 0.175s;
  --animation-duration-2: 0.35s;
  --animation-duration-3: 0.7s;
  --animation-duration-4: 1.4s;
  --avatar-size-0: 2rem;
  --avatar-size-1: 2.5rem;
  --avatar-size-2: 3rem;

  /* App */
  --card-background-color: var(--color-lighten-03);
  --card-border-radius: var(--border-radius-1);
  --card-padding-horizontal: var(--spacing-2);
  --card-padding-horizontal-small: var(--spacing-1);
  --card-padding-horizontal-medium: var(--spacing-3);
  --card-padding-horizontal-large: var(--spacing-4);
  --card-padding-vertical: var(--spacing-2);
  --card-padding-vertical-small: var(--spacing-1);
  --card-padding-vertical-medium: var(--spacing-3);
  --card-padding-vertical-large: var(--spacing-4);
  --card-border-width: var(--border-width);
  --card-border-color: var(--color-lighten-15);
  --card-padding: var(--border-radius-1);
  --color-body: var(--color-gray-05);
  --color-body-dull: var(--color-gray-40);
  --color-body-duller: var(--color-gray-60);
  --content-background: var(--color-gray-90);
  --content-background-highlight: var(--color-gray-blue-80);
  --content-color: var(--color-gray-10);
  --form-label-margin-bottom: var(--spacing-1);
  --form-spacing: var(--spacing-3);
  --header-background: var(--color-gray-90);
  --header-color: var(--color-white);
  --header-height: 4rem;
  --heading-color: var(--color-gray-40);
  --heading-font-size-relative: 80%;
  --heading-font-weight: var(--font-weight-semibold);
  --left-nav-width: 200px;
  --main-nav-item-color: var(--nav-color-dull);
  --main-nav-item-hover-color: var(--nav-color-active);
  --main-nav-item-active-color: var(--nav-color-active);
  --modal-background-color: var(--color-lighten-03);
  --modal-base-z-index: 1000;
  --modal-border-color: var(--card-border-color);
  --modal-border-radius: var(--card-border-radius);
  --modal-border-width: var(--card-border-width);
  --modal-footer-height: 70px;
  --modal-header-height: 70px;
  --modal-height: calc(100% - 8rem);
  --modal-overlay-background-color: hsl(0deg, 0%, 10%, 90%);
  --modal-overlay-background-color-highlight: hsl(200deg, 14%, 21%, 90%);
  --modal-padding: var(--spacing-2);
  --modal-padding-small: var(--spacing-1);
  --modal-padding-medium: var(--spacing-3);
  --modal-padding-large: var(--spacing-4);
  --modal-width: 400px;
  --modal-width-small: 300px;
  --modal-width-medium: 500px;
  --modal-width-large: 100%;
  --modal-margin-large: 4rem;
  --nav-text-color: var(--color-gray-40);
  --nav-icon-color: var(--color-gray-60);
  --nav-text-color-active: var(--color-gray-10);
  --nav-icon-color-active: var(--color-gray-40);
  --nav-color-dull: var(--color-gray-40);
  --nav-color-duller: var(--color-gray-60);
  --nav-color-active: var(--color-gray-10);
  --page-horizontal-padding: var(--spacing-5);
  --subheader-background: var(--color-gray-85);
  --subheader-border-color: var(--color-gray-70);
  --subheader-color: var(--nav-color-dull);
  --subheader-height: 3rem;
}
