a.link {
  --text-color: var(--nav-text-color);
  --icon-color: var(--nav-icon-color);

  color: var(--text-color);
  font-weight: var(--font-weight-quarterbold);

  .icon {
    font-size: 120%;
    color: var(--icon-color);
  }

  &:hover,
  &.active {
    --text-color: var(--nav-text-color-active);
    --icon-color: var(--nav-icon-color-active);
  }
}
