.nav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
}

.item {
  margin-left: var(--cx-spacing-3);
}

.item.active a {
  color: var(--cx-color-white);
}

.item.active a i {
  color: var(--cx-color-white);
}

.item a {
  display: flex;
  align-items: center;
  color: var(--cx-color-gray-40);
  font-weight: var(--cx-font-weight-semibold);
}

.item a i {
  margin-right: var(--cx-spacing-1);
  color: var(--cx-color-gray-40);
}

.item a:hover {
  color: var(--cx-color-white);
}

.item a:hover i {
  color: var(--cx-color-white);
}
