.container {
  --animate-duration: 0.2s;
  --container-background: var(--card-background);
  --container-padding-horizontal: var(--card-padding-horizontal);
  --container-padding-vertical: var(--card-padding-vertical);
  --container-border-width: var(--card-border-width);
  --container-border-color: var(--card-border-color);
  --container-border-radius: var(--card-border-radius);
  --container-padding: var(--card-padding);

  background: var(--container-background);
  padding: var(--container-padding-vertical) var(--container-padding-horizontal);
  border: var(--container-border-width) solid var(--container-border-color);
  border-radius: var(--container-border-radius);
  box-shadow: var(--card-box-shadow);
}

.container.zero {
  --container-padding-horizontal: 0;
  --container-padding-vertical: 0;
}

.container.small {
  --container-padding-horizontal: var(--card-padding-horizontal-small);
  --container-padding-vertical: var(--card-padding-vertical-small);
}

.container.medium {
  --container-padding-horizontal: var(--card-padding-horizontal-medium);
  --container-padding-vertical: var(--card-padding-vertical-medium);
}

.container.large {
  --container-padding-horizontal: var(--card-padding-horizontal-large);
  --container-padding-vertical: var(--card-padding-vertical-large);
}
