.container {
  --container-background-color: var(--card-background-color);
  --container-padding-horizontal: var(--card-padding-horizontal);
  --container-padding-vertical: var(--card-padding-vertical);
  --container-border-width: var(--card-border-width);
  --container-border-color: var(--card-border-color);
  --container-border-radius: var(--card-border-radius);
  --container-padding: var(--card-padding);

  background-color: var(--container-background-color);
  padding: var(--container-padding-vertical) var(--container-padding-horizontal);
  border: var(--container-border-width) solid var(--container-border-color);
  border-radius: var(--container-border-radius);
}

.container.small {
  --container-padding-horizontal: var(--card-padding-horizontal-small);
  --container-padding-vertical: var(--card-padding-vertical-small);
}

.container.medium {
  --container-padding-horizontal: var(--card-padding-horizontal-medium);
  --container-padding-vertical: var(--card-padding-vertical-medium);
}

.container.large {
  --container-padding-horizontal: var(--card-padding-horizontal-large);
  --container-padding-vertical: var(--card-padding-vertical-large);
}
