.container {
  --card-background-color: var(--color-white);
  --card-padding-horizontal: var(--spacing-2);
  --card-padding-vertical: var(--spacing-2);
  --card-border-width: var(--border-width);
  --card-border-color: var(--color-gray-10);
  --card-padding: var(--border-radius);

  background-color: var(--card-background-color);
  padding: var(--card-padding-vertical) var(--card-padding-horizontal);
  border: var(--card-border-width) solid var(--card-border-color);
  border-radius: var(--card-padding);
}

.container.small {
  --card-padding-horizontal: var(--spacing-1);
  --card-padding-vertical: var(--spacing-1);
}

.container.medium {
  --card-padding-horizontal: var(--spacing-2);
  --card-padding-vertical: var(--spacing-2);
}

.container.large {
  --card-padding-horizontal: var(--spacing-4);
  --card-padding-vertical: var(--spacing-4);
}
