.container {
  --spaced-gap-default: var(--spacing-2);
  --spaced-gap-small: var(--spacing-1);
  --spaced-gap-large: var(--spacing-4);

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spaced-gap-default);
}

.container.small {
  gap: var(--spaced-gap-small);
}

.container.large {
  gap: var(--spaced-gap-large);
}

.container.vertical {
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
