.header {
  background-color: var(--header-background);
  color: var(--header-color);
}

.subheader {
  background-color: var(--subheader-background);
  color: var(--subheader-color);
  border-top: 1px solid var(--subheader-border-color);
  border-bottom: 1px solid var(--subheader-border-color);
  box-shadow: var(--subheader-box-shadow);
}

.content {
  background: radial-gradient(
    circle at top,
    var(--content-background-highlight) 0%,
    var(--content-background) 100%
  );
  color: var(--content-color);
}

.logo {
  height: 35px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
  }
}